**1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday.**

In [ ]:
year_of_birth = 1990
year_of_5th_birthday = 1995
years_list = []
for year in range(year_of_birth, year_of_5th_birthday+1):
    years_list.append(year)
print(years_list)

**4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.**

In [1]:
things = ["mozzarella", "cinderella", "salmonella"]

**5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?**

In [2]:
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

**6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;**

In [9]:
surprise = ['Groucho', 'Chico', 'Harpo']

**7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.**

In [8]:
surprise[-1] = surprise[-1].lower()[::-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Harpo']

**13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.**

In [3]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

This will create a multi-level dictionary called life with topmost keys 'animals', 'plants', and 'other'. The 'animals' key will refer to another dictionary with keys 'cats', 'octopi', and 'emus'. The 'cats' key will refer to a list of strings with values 'Henri', 'Grumpy', and 'Lucy'. All the other keys will refer to empty dictionaries.

14. Print the top-level keys of life.

In [4]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life[&#39;animals&#39;].

In [5]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [6]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']